@media (max-width: 360px) {
    html {
        font-size: 0.8rem;
    }
}

@media (min-width: 576px) {
    html {
        font-size: 1rem;
    }
}

@media (min-width: 768px) {
   
    html {
        font-size: 1.2rem;
    }
}

@media (min-width: 768px) {
   
    html {
        font-size: 1.2rem;
    }

    #content {
        margin-left: 0px;
    }

    #sidebar-left {
        position: static;
        float: left;
    }

    [id^='sidebar-'] {
        top: 0px;
        height: auto;
    }

}

@media (min-width: 992px) {

    #content {
        margin-left: 370px;
        height: auto;
    }

    [id^='sidebar-'] {
        top: 0px;
        max-width: 360px;
        height: auto;
    }

    #sidebar-left {
        position: fixed;
        left: 0px;
    }

    .un-title {
        display: none;
    }

    .lg-title {
        display: block;
    }

    .lg-font {
        font-size: 1rem;
    }

}